$color-light = {
  base: #ffffff,
}

$color-dark = {
  base: #000000,
  light: #505050,
}

$color-yellow = {
  base: #FFDD2D,
}

$color-blue = {
  base: #714AE2,
}

$color-map = {
  yellow: $color-yellow.base,
  blue: $color-blue.base,
}

$color-tree = {
  yellow: $color-yellow,
  blue: $color-blue,
}
