@require '~@/assets/stylus/vars/variables';
@require '~@/assets/stylus/vars/colors';

.base-logo {
  text-decoration: none;
  cursor: pointer;
  
  &__text {
    font-size: $font-size-large;
    color: $color-blue.base;
    font-style: italic;
    font-weight: 800;
  }
}