@require '~@/assets/stylus/vars/variables';

.base-canvas {
  // width: 900px;
  // height: 900px;
  overflow: hidden;
  border-radius: $border-radius-base;
  box-shadow rgba(0, 0, 0, 0.2) 0px 3px 30px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

  // &__canvas {
  //   width: 100%;
  //   height: 100%;
  // }
}