@require '~@/assets/stylus/vars/variables';
@require '~@/assets/stylus/mixins/mixins';

.base-canvas {
  size(100%);
  overflow: hidden;
  border-radius: $border-radius-base;
  box-shadow rgba(0, 0, 0, 0.2) 0px 3px 30px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  flexy(center, center);

  &__wrapper {
    relative();
    size(100%);
  }

  &__canvas-drawer,
  &__canvas-template {
    size(100%);
    absolute(0px, 0px, 0px, 0px);
  }

  &__canvas-template {
    z-index: 2;
  }

  &__canvas-drawer {
    z-index: 5;    
  }

  &__action-bar {
    height: 100%;
    min-size(60px, 100%);
    max-size(60px, 100%);
  }
}