@require '~@/assets/stylus/mixins/mixins';

.action-bar {
  size(100%);
  flexy(space-between, center, wrap, column);

  &__colors {
    padding: 10px 0px;
    flexy(flex-start, center, wrap, column);
  }

  &__line-widths {
    padding: 10px 0px;
    flexy(flex-start, center, wrap, column);
  }
}