@require '~@/assets/stylus/vars/variables';
@require '~@/assets/stylus/mixins/mixins';

.main-header {
  height: $header-height;
  padding-top: $gutter;
  padding-bottom: $gutter;
  flexy(space-between, center);

  &__center {
    margin: 0px 10px;
  }
}