@require '~@/assets/stylus/vars/colors';
@require '~@/assets/stylus/vars/variables';
@require '~@/assets/stylus/mixins/mixins';

.base-sidebar {
  height: 100%;
  width: 100%;
  padding: $gutter ($gutter / 2);
  color: $color-light.base;
  background-color: $color-blue.base;
}