@require '~@/assets/stylus/vars/variables';
@require '~@/assets/stylus/mixins/mixins';

.base-layout {
  size(100%, 100vh);
  overflow-x: hidden;
  flexy(flex-start, flex-start);

  &__layout {
    size(100%);
    padding-left: 20px;
    padding-right: 20px;
  }

  &__main {
    height: "calc(100% - %s)" % $header-height;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__content {
    size(100%);
  }

  &__sidebar {
    height: 100%;
    transition: min-width 0.25s ease, max-width 0.25s ease;
    
    &--open {
      min-size(400px, 100%);
      max-size(400px, 100%);
    }

    &--hidden {
      min-size(0px, 100%);
      max-size(0px, 100%);
    }
  }
}